body {

    color: #000000;
    background-color: #FFFFFF;
  }
 
.jumbotron {
    background-image: url("../images/bbutton.jpg");
    background-size: 100% 100%;
    text-align: center;
  }


  .blackbg {
    background-color: black;
}

.periwinklebg {
  background-color: #CCCCFF;
}

